################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Marco.AspNetCore.ExceptionHandling/bin/Debug/netcoreapp2.1
/Marco.AspNetCore.ExceptionHandling/obj/Debug/netcoreapp2.1
/Marco.AspNetCore.ExceptionHandling/obj
/src/.vs/MarcoExceptionHandling/v15
/src/Marco.AspNetCore.ExceptionHandling/bin/Debug/netcoreapp2.1
/src/Marco.AspNetCore.ExceptionHandling/obj/Debug/netcoreapp2.1
/src/Marco.AspNetCore.ExceptionHandling/obj
/src/Marco.ExceptionHandling/bin/Debug/netcoreapp2.1
/src/Marco.ExceptionHandling.Abstractions/bin/Debug/netstandard1.6
